@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    margin: 40px 0 0 0;
    font-family: sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EEEEEE;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

span {
    font-weight: 600;
}

input {
    border-radius: 8px;
    background-color: #F3EDFD;
    margin: 5px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

button {
    border-radius: 8px;
}

.logout-button {
    background-color: #EE5247;
    color: white;
    font-weight: 600;
    padding: 5px 16px;
}

.logged-in {
    color: #5D49F5;
}

.not-logged-in {
    color: #EE5247;
}

.details {
    margin: 0 32px;
    font-size: 1rem;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    background-color: #5D49F5;
    padding: 40px 0;
}

.nav a {
    color: #FFFFFF;
    margin: 0 20px;
    display: flex;
}

.nav svg {
    padding-right: 16px;
}

.feed-container {
    width: 520px;
    margin: 24px 0;
}

.feed-container img {
    width: 100%;
    height: auto;
}

.posts-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

.post {
    border: 1px solid black;
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 4px 0;
    background-color: #FFFFFF;
}

.post p {
    margin: 8px 16px;
}

.create-post, .edit-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #454545;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header h1 {
    font-family: 'Permanent Marker', cursive;
    margin-left: 25px;
}

.repo span {
    color: #1CE5FF;
    text-decoration: underline;
}

.about {
    border: black solid;
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    background-color: white;

}

@media (orientation: portrait), (max-width: 959px) {
    .feed-container {
        width: 100%;
        margin: 0 0 88px;
    }

    .post {
        border: none;
        border-radius: 0px;
    }

    .nav {
        width: auto;
        flex-direction: row;
        justify-content: space-around;
        gap: 0px;
        padding: 12px 0 12px;
        top: auto;
        right: 0;
    }

    .nav a {
        flex-direction: column;
        gap: 2px;
    }

    .nav svg {
        padding: 0;
    }
}