/* * {
    border: 1px dashed pink;
} */

body {
    margin: 40px 0 0 0;
    font-family: sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EEEEEE;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

span {
    font-weight: 600;
}

.logged-in {
    color: blue;
}

.not-logged-in {
    color: red;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    background-color: #444444;
    padding: 40px 0;
}

.nav a {
    color: #FFFFFF;
    margin: 0 20px;
    display: flex;
}

.nav svg {
    padding-right: 16px;
}

.feed-container {
    width: 520px;
    margin: 24px 0;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.post {
    border: 1px solid black;
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* margin: 24px auto; */
    padding: 4px 0;
    background-color: #FFFFFF;
}

.post p {
    margin: 8px 16px;
}

.post img {
    width: 100%;
    height: auto;
}

@media (orientation: portrait), (max-width: 959px) {
    .feed-container {
        width: 100%;
        margin: 0 0 96px;
    }
    .post {
        border: none;
        border-radius: 0px;
    }
    .nav {
        width: auto;
        flex-direction: row;
        justify-content: space-around;
        gap: 0px;
        padding: 12px 0 36px;
        top: auto;
        right: 0;
    }
    .nav a {
        flex-direction: column;
        gap: 2px;
    }
    .nav svg {
        padding: 0;
    }
}